{% extends 'base.html.twig' %}

{% block title %}Hello VueArticleController!
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center d-flex flex-column">
				<h4>Titre :
					{{article.titreArticle}}</h4>
				<p>Sous catégorie :
					{{article.idSousCategorie.nomSousCategorie}}</p>
				<p>Contenu article :
					{{article.contenuArticle|raw}}</p>
                <p>Image de l'article : </p>

			</div>


		</div>
	</div>
{% endblock %}
