{% extends 'base.html.twig' %}

{% block title %}Hello VueArticleController!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">

       
                <h4>Titre :</h4>
                <p>{{ article.titreArticle }}</p>
          
                <h4>Auteur :</h4>
                <p>{{ article.contenuArticle }}</p>
            


         
    </div>
</div>
{% endblock %}
